
<a href='https://sites.google.com/site/jahangirypedram/'> <img src="logo.jpg" /></a>
___
## Pedram Jahangiry (Fall 2019)

# Python Crash Course


Basic topics to be covered:

* Data types
    1. Numbers
    2. Strings
    3. Booleans
    4. Tuples
    5. Lists
    6. Dictionaries  
    7. Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* list comprehension
* functions
* map and filter

____

## Data types

### 1. Numbers

In [ ]:
3+5

In [2]:
2*3

6

In [3]:
2 ** 3

8

In [4]:
5 / 2

2.5

In [5]:
5 % 2

1

### Variable Assignment

In [6]:
my_var = 2

In [7]:
x = 2

In [8]:
y= my_var + x
y

4

### 2. Strings

In [9]:
Hello World

SyntaxError: invalid syntax (<ipython-input-9-648a6a6ffffd>, line 1)

In [10]:
"Hello World"

'Hello World'

In [1]:
ID = 1234
Name = "Pedram"

In [2]:
print('my ID number is {}, and my name is {}'.format(ID,Name))

my ID number is 1234, and my name is Pedram

In [3]:
Number = 1543
Name = 'McKlayne'

In [6]:
print('my Number is {}, and my name is {}'.format(Number,Name))

my Number is 1543, and my name is McKlayne

In [9]:
my_string = 'Hellow world, I am learning #ML'

In [10]:
my_string.swapcase()

'hELLOW WORLD, i AM LEARNING #ml'

In [15]:
my_string.upper()

'HELLOW WORLD, I AM LEARNING #ML'

In [16]:
my_string.split()

['Hellow', 'world,', 'I', 'am', 'learning', '#ML']

In [17]:
my_string.split('#')

['Hellow world, I am learning ', 'ML']

In [18]:
my_string.split('#')[1]

'ML'

In [19]:
# using in method
'x' in [1,2,3]

False

In [20]:
'x' in ['x','y','z']

True

### 3. Booleans

In [21]:
# unlinke R, you cannot use T or TRUE for boolean True
T 
TRUE

NameError: name 'T' is not defined

In [22]:
True

True

In [23]:
False

False

### 4. Tuples

In [24]:
# paranthesis are used for tuples
t = (1,2,3)

In [25]:
# extracting from tuples. Becareful! unlinke R, indexing starts from 0 not 1
t[0]

1

In [26]:
# Note that tuples are immutable. You cannot assign some NEW variables to them. Where do we use it?
t[0] = 10

TypeError: 'tuple' object does not support item assignment

In [27]:
# tuple unpacking
# read "for" loops and come back here! 
x= [(1,2),(3,4),(5,6)]

In [28]:
x

[(1, 2), (3, 4), (5, 6)]

In [29]:
for a,b in x: print(a)

1
3
5

### 5. Lists

In [30]:
# Bracket [] are used to make lists. Note: [] does the same job as list() function in R. 
[1,2,3]

[1, 2, 3]

In [11]:
my_list = ['Hello World',100,[1,"2",3]]  # notice that 1 and 3 are not coerced into string (this is different from R)
my_list

['Hello World', 100, [1, '2', 3]]

In [19]:
my_list.count([1])

0

In [32]:
my_list.append('Adding variable')

In [33]:
my_list

['Hello World', 100, [1, '2', 3], 'Adding variable']

In [34]:
my_list[0]  # notice that you don't need to use [[]]. this is different than R

'Hello World'

In [35]:
my_list[2]

[1, '2', 3]

In [36]:
my_list[2][1]

'2'

In [37]:
my_list[2][-1]  # extracting the last element. The logic is completely different than R

3

In [38]:
my_list[1:3]  # starting from index 1 (the second element) and NOT including index 3 (the forth element)

# NOTE: in R, my_list[1:3] will extract elements 1 through 3 (including 3rd element)

[100, [1, '2', 3]]

In [39]:
my_list[1:]  # extracting from index 1 (second element) to the end. There is no such a thing in R

[100, [1, '2', 3], 'Adding variable']

In [40]:
my_list[:2]  # extracting from index 0 upto (and not including) index 2

['Hello World', 100]

In [41]:
my_list[0] = 'NEW variable'  # unlike tuples, lists are immutable

In [42]:
my_list

['NEW variable', 100, [1, '2', 3], 'Adding variable']

In [43]:
# poping the last element permanantly
my_list.pop()

'Adding variable'

In [44]:
my_list

['NEW variable', 100, [1, '2', 3]]

### 6. Dictionaries

In [45]:
# Braces and colons {  :  ,  : }  are used for dictionaries. You can use keys (and not indexes) to grab information
# Dictionaries do not retian any order! very useful when you don't want to extract info based on index number
my_dict = {'key1':'item1','key2':[1,2,3,4]}

In [46]:
my_dict

{'key1': 'item1', 'key2': [1, 2, 3, 4]}

In [47]:
my_dict[1]

KeyError: 1

In [48]:
my_dict['key2']

[1, 2, 3, 4]

In [49]:
my_dict['key2'][2]

3

In [50]:
my_dict.keys()

dict_keys(['key1', 'key2'])

In [51]:
my_dict.items()

dict_items([('key1', 'item1'), ('key2', [1, 2, 3, 4])])

In [52]:
my_dict.values()

dict_values(['item1', [1, 2, 3, 4]])

### 7. Sets

In [53]:
# set is a collection of UNIQUE elements.
# Braces {} are used for sets. Sets 
{1,2,3}

{1, 2, 3}

In [54]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

In [55]:
set([1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2])

{1, 2, 3}

In [56]:
my_set={1,2,3}

In [57]:
my_set.add(4)
my_set

{1, 2, 3, 4}

## Comparison Operators

In [58]:
2 > 1

True

In [59]:
2 < 1

False

In [60]:
4 <= 4

True

In [61]:
2 == 2

True

In [62]:
'BUY' == 'BUY'

True

In [63]:
'BUY' == 'buy'

False

In [64]:
'buy' != 'sell'

True

In [65]:
(1 > 2) and (2 < 3) # all the statements must be true

False

In [66]:
(1 > 2) or (2 < 3)  # only one of the true elements safices!

True

In [67]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [68]:
# in Python: if condition: action           # in R: if (condition) {action}
if 1 < 2:                      
    print('condition is true')

condition is true

In [69]:
if 1 < 2:
    print('consition is true')
else:
    print('condition is false')

consition is true

In [70]:
if 1 > 2:
    print('consition is true')
else:
    print('condition is false')

condition is false

In [71]:
if 1 == 2:
    print('first condition is true')
elif 3 == 3:
    print('second condition is true')
else:
    print('last condition is true')

second condition is true

## for Loops

In [72]:
# in python     for item in seq: do something. 
# in R          for (item in seq){do something}

In [73]:
# Note: in python we don't have the luxury of using 1:5 like in R. Instead we use range() function
range(5)

range(0, 5)

In [74]:
list(range(5))

[0, 1, 2, 3, 4]

In [75]:
for item in range(5):
    print(item)

0
1
2
3
4

In [76]:
for item in range(4,10,2):
    print(item)

4
6
8

## while Loops

In [77]:
# in python     while condition true: do something. 
# in R          while (condition true) {do something}

In [78]:
count = 1
while count <= 4:
    print('count is: {}'.format(count))
    count+=1             # this is equivalent to count = count+1

count is: 1
count is: 2
count is: 3
count is: 4

## list comprehension

In [79]:
x = [1,2,3,4,5]

In [80]:
my_list = []  # empty list. In R we use list() to create empty list. 
for item in x:
    my_list.append(item*2)
print(my_list)

# we can do all this in one line

[2, 4, 6, 8, 10]

In [81]:
[x*2 for x in range(1,6)]    # this is like family of apply functions in R

[2, 4, 6, 8, 10]

## functions

In [82]:
# in Python:   def my_func(inputs): do something
# in R     :   my_function <- function(inputs){do something}

In [83]:
def my_func(x=0):
    """
    documentation of your function
    """
    print(x+2)

In [84]:
my_func    # press shift tab to see the documentation

In [85]:
my_func() # if you don't assign default values you will get an error.

2

In [86]:
my_func(10)

12

## lambda expressions

In [87]:
def power(x):  
    return x*2

In [88]:
power(2)

4

In [89]:
lambda x: x*2

## map and filter

In [90]:
seq = [1,2,3]

In [91]:
map(power,seq)     # this is like family of apply functions in R

In [92]:
list(map(power,seq))

[2, 4, 6]

In [93]:
list(map(lambda x: x*2,range(1,4)))

[2, 4, 6]

In [94]:
filter(lambda x: x>3,range(10))

In [95]:
list(filter(lambda x: x>3,range(10)))

[4, 5, 6, 7, 8, 9]